@brand-primary :        #568fab;
@link-color:            #568fab;
@link-hover-color:      #377c8e;

@well-bg:               #ecf9fa;

@border-radius-base :   0px;
@pager-border-radius:   0px;
@border-radius-large:   0px;
@border-radius-small:   0px;

@gray-dark: #3d3d3d;

//header
//@navbar-padding-vertical: 0px;
//@nav-link-hover-bg: none;
//
//@breadcrumb-bg: #DBD4CC;
//@breadcrumb-active-color: #6B6859;
//@breadcrumb-color: #966D6D;